.tastySnackAttackId  {
display: inline-block;
margin: 10px;
}

body {
    background-image: url("/Users/karynhuston/project-snack-a-log/front-end/public/top-view-citrus-fruits-as-pineapple-kiwi-orange-tangerine-slices-kumquat-with-bread-slices-tray-jam-bowl-around-trivet-black-background (1).jpg");
   background-size:cover;
   
}

.snack-heading {
    font-size: xx-large;
    font-family: sans-serif;
    color: cornsilk;
}

.show {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


.photo-credits a {
    text-decoration: none;
    color: darkgrey;
    float: bottom;
    float: right;
    display: list-item;
    margin-top: 60rem;
}