.tastySnackAttackId  {
display: inline-block;
margin: 10px;
}

body {
    background-image: url(./assets/berries.jpg);
   background-size:cover;
   
}

.snack-heading {
    font-size: xx-large;
    font-family: sans-serif;
    color: darkgray;
}

.show {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


.photo-credits a {
    text-decoration: none;
    color: darkgrey;
    float: bottom;
    float: right;
    display: list-item;
    margin-top: 60rem;
}

.newForm {
    background-color: rgba(255, 255, 255, 0.533);
    border-radius: 5px;
}