/* .tastySnackAttackId {

}*/

body {
    background-image: url("/Users/karynhuston/project-snack-a-log/front-end/public/Screen Shot 2023-02-03 at 8.16.57 PM.png");
   background-size:cover;
   
}

.snack-heading {
    font-size: xx-large;
    font-family: sans-serif;
    color: cornsilk;
}

.show {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}



